{% extends "./base.html" %}
{% block content %}
    <body>
         <div class="sign-up">

             <h2 class="create"> Create An Account</h2> 
        </div> 
        
        <form method="post">
            {% csrf_token %}
            <label for="Username">First Name</label>
            <input type="text" name="first_name"  placeholder="Enter First Name" >

            <label for="lastname">Last Name</label>
            <input type="text" name="last_name" placeholder="Enter Last Name">
        
            <label for="emailaddress">Email Address</label>
            <input type="text" name="email" placeholder="Enter Email Address">

            <label for="Phonenumber"> Username</label>
            <input type="text" name="username" placeholder="Enter Username">      
            
            <label for="Phonenumber"> Phone Number</label>
            <input type="text" name="phone" placeholder="Enter Phone Number">  

            <label for="Phonenumber"> State </label>
            <input type="text" name="state" placeholder="">  

            <label for="Phonenumber"> Address </label>
            <input type="text" name="address" placeholder="Enter your address">    
            
            <label for="Password">Password</label>
            <input type="text" name="password" placeholder="Enter Password">
    
            <button class="sign">Create An Account</button>
       

            <h2 class="p1">
                By signing up you accept our terms and conditions <br> & privacy policy 
            </h2>

            <p class="p2">Already have an Account? <a href="#"> Login here</a></p>
           
            </form>

            <div  class="Account">

                <a href="/login">
                     <button class="login">login</button>
                </a>

            </div>

           

    </div>
    {% endblock %}
        {% comment %} <script src="" async defer></script>
    </body>
</html> {% endcomment %}