{% extends "./base.html" %}
{% load static %}

{% block title %} Shopx | Your One-Stop Destination for all your Shopping Needs. {% endblock  %}

{% block head %}
     {% comment %} <link rel="stylesheet" href="{% static '/css/product.css' %}"> {% endcomment %}
     
     <link rel="stylesheet" href="{% static '/css/checkout.css' %}">
{% endblock  %}

{% block content %}
  <nav class="checkout_nav">
    <p class="check_heading"> Checkout </p>
</nav>

 <div class="p_image">
              <img src="/{{product.image}}" alt="" width="80%">
               <div>
                    <p class="description">{{product.description}}</p>
               </div>
            </div>

            <div>
             <p class="product_name">{{product.name}}</p>
             <h3 class="new_price">&#8358;{{product.price}}</h3>
             <h3 class="product">Quantity</h3>
              <h3 class="product">SUBTOTAL</h3>
             <p class="product_name">{{product.price}}</p>
              <h3 class="product">TOTAL</h3>
              <p class="product_name">{{product.price}}</p>
{% endblock  %}